/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 800px;
        width: 100%;
      }
      #attr{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      